*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(135deg, #65FDF0 10%, #1D6FA3 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    border: 1px solid rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    width: 350px;
    gap: 10px;
    height: 280px;
    flex-direction: column;
    transition:height 0.5s ease;
    background-color: white;
    align-items: center;
}
.container1 header{
    font-size: 23px;
    margin: 10px;
}
.container1 main{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}
.container1 main input{
    padding-left: 3px;
    height: 25px;
}
.container1 main button{
    padding-top: 10px;
    padding-bottom: 8px;
    border-radius: 25px;
    border: 0.5px solid rgba(0,0,0,0.3);
    color: rgb(0, 0, 0);
    cursor: pointer;   
    transition: 0.5s;
}
.container1 main button:hover{
    background-color: green;
    color: white;
    border: none;
}
.container1 .qr-code {
    width: 100%;
    display: flex;
    justify-content: center;
   margin-top: 20px;
}
.container1 .qr-code img{
  height: 250px;
}
input:focus{
    border-color: transparent;
  box-shadow: none;
  outline: none;
}
.container1 .qr-code {
    opacity: 0;
    pointer-events: none;
    transition:opacity 0.5s 0.05s ease;
}
.container1.active{
    height: 550px;
}
.container1.active .qr-code{
    opacity: 1;
}
